$github-icon-size: 3rem;

.project-card {
  transform: scale(0.95);
  transition: transform 0.2s;
  &:hover {
    transform: scale(1);
  }
  &__details {
    padding: 2rem 1rem;
    position: relative;
  }
  &__title {
    text-transform: capitalize;
    margin-bottom: var(--s-0_75);
    .icon {
      margin-left: 0.5rem;
    }
  }
  &__link-live {
    color: var(--text);
  }
  &__link-github {
    position: absolute;
    right: $github-icon-size / 2;
    top: -$github-icon-size / 2;
    width: $github-icon-size;
    height: $github-icon-size;
    background: var(--bg-invert);
    border-radius: 50%;
    box-shadow: var(--shadow);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-invert);
    font-size: var(--font-24);
  }
}