.blog-card {
  padding: var(--s-2) var(--s-2_75);
  margin: var(--s-3) auto;
  &__title {
    font-size: var(--font-28);
    margin-bottom: var(--s-0_5);
  }
  &__description {
    text-align: justify;
  }
  .tags {
    margin-bottom: 0;
  }
}