@import '../mixins';

.contact-form {
  margin: 0 0 var(--s-3);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  .form-label {
    width: inherit;
    margin: var(--s-1) 0;
    @include break-point-up(phone-only) {
      width: 35rem;
    }
    .form-input {
      width: inherit;
      background-color: var(--bg-secondary);
      color: var(--color);
      border: 0.5px solid var(--color);
      border-radius: 0.3rem;
      padding: var(--s-0_75);
      margin-top: var(--s-0_5);
    }
  }
  .submit-button {
    padding: var(--s-1) var(--s-3);
    margin: var(--s-1_5);
    background-color: var(--link);
    color: var(--color-invert);
    box-shadow: var(--shadow);
    border: none;
    font-size: var(--font-24);
    border-radius: 0.4rem;
  }
}