@import "mixins";
$planet-size: 12rem;
$planet-size-small: 6rem;
$planet-size-tablet: 8rem;
$planet-size-tablet-small: 4rem;
$not-found-illustration-size: 25vmin;

%flex-ai-c-jc-c {
  display: flex !important;
  align-items: center;
  justify-content: center;
}

header {
  height: 5rem;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
  padding: var(--s-1_25);
  min-height: 100vh; // header height
}

p {
  color: var(--text);
  line-height: 1.75;
  font-size: 1rem;
  letter-spacing: 1px;
}

ul {
  list-style-type: none;
}

footer {
  padding: var(--s-2) var(--s-1);
  margin-top: var(--s-3);
  display: flex !important;
  align-items: center;
  justify-content: center;
  background-color: var(--bg-secondary);
  border-top: 0.05rem solid var(--link-active);
  @include break-point-down(tablet-portrait) {
    flex-direction: column-reverse;
    .copyright {
      margin-top: var(--s-1);
      text-align: center;
    }
  }
}

%planet-position {
  position: absolute;
  top: 5%;
  left: 3%;
}

.planet {
  animation: slide-down 0.3s ease-out;
  @extend %planet-position;
  width: $planet-size;
  height: $planet-size;
  border-radius: 50%;
  background: var(--planet-bg);
  box-shadow: 0px 0px 50px var(--planet-shadow);
  z-index: -999;
  &.small {
    width: $planet-size-small;
    height: $planet-size-small;
    box-shadow: 0px 0px 35px var(--planet-shadow);
  }
}

.rocket {
  @extend %flex-ai-c-jc-c;
  @extend %planet-position;
  color: var(--dark-blue);
  transform: rotate(-90deg);
  font-size: var(--font-32);
  width: $planet-size-small;
  height: $planet-size-small;
  border-radius: 50%;
}

@include break-point-down(tablet-portrait) {
  .planet {
    width: $planet-size-tablet;
    height: $planet-size-tablet;
    &.small {
      width: $planet-size-tablet-small;
      height: $planet-size-tablet-small;
      box-shadow: 0px 0px 24px var(--planet-shadow);
    }
  }
  .rocket {
    width: $planet-size-tablet-small;
    height: $planet-size-tablet-small;
  }
}

.stars {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
  background: transparent;
  z-index: -999;
  .star {
    position: absolute;
    display: inline-block;
    background: linear-gradient(-45deg, var(--planet-bg), rgba(0, 0, 255, 0));
    &::before,
    &::after {
      position: absolute;
      content: "";
      top: calc(50% - 1px);
      right: 0;
      height: 1px;
      background: linear-gradient(
        -45deg,
        rgba(0, 0, 255, 0),
        var(--color),
        rgba(0, 0, 255, 0)
      );
      border-radius: 100%;
      transform: translateX(50%) rotateZ(45deg);
      animation: shine 3s ease-in-out infinite;
    }
    &::after {
      transform: translateX(50%) rotateZ(-45deg);
    }
    &:nth-child(1) {
      top: 50%;
      left: 20%;
    }
    &:nth-child(2) {
      top: 90%;
      left: 10%;
      animation-delay: 2.5s;
      &::before,
      &::after {
        animation-delay: 2.5s;
      }
    }
    &:nth-child(3) {
      top: 90%;
      right: 30%;
      animation-delay: 1s;
      &::before,
      &::after {
        animation-delay: 1s;
      }
    }
    &:nth-child(4) {
      top: 50%;
      left: 50%;
      animation-delay: 3s;
      &::before,
      &::after {
        animation-delay: 3s;
      }
    }
    &:nth-child(5) {
      bottom: 30%;
      right: 10%;
      animation-delay: 5s;
      &::before,
      &::after {
        animation-delay: 5s;
      }
    }
    &:nth-child(6) {
      top: 76%;
      right: 56%;
      animation-delay: 4s;
      &::before,
      &::after {
        animation-delay: 4s;
      }
    }
    &:nth-child(7) {
      bottom: 70%;
      right: 95%;
      animation-delay: 4.5s;
      &::before,
      &::after {
        animation-delay: 4.5s;
      }
    }
    &:nth-child(8) {
      top: 5%;
      right: 5%;
      animation-delay: 2s;
      &::before,
      &::after {
        animation-delay: 2s;
      }
    }
    &:nth-child(9) {
      top: 35%;
      right: 23%;
      animation-delay: 5.5s;
      &::before,
      &::after {
        animation-delay: 5.5s;
      }
    }
    &:nth-child(10) {
      top: 15%;
      left: 45%;
      animation-delay: 6s;
      &::before,
      &::after {
        animation-delay: 6s;
      }
    }
  }
}

@keyframes shine {
  0% {
    width: 0.01rem;
  }
  50% {
    width: 1rem;
  }
  100% {
    width: 0.01rem;
  }
}

.page {
  animation: fade-in 0.3s ease-in;
}

.home-page {
  @extend %flex-ai-c-jc-c;
  flex-direction: column;
  height: calc(
    100vh - 7.5rem
  ); // 2*1.25 top/bottom main padding + 5rem footer height
  text-align: center;
  .greeting {
    color: var(--link-active);
    font-size: var(--font-20);
    font-style: italic;
    font-weight: bold;
  }
  .intro {
    font-size: var(--font-72);
    text-shadow: 0 0 2rem var(--link);
  }
  .tagline {
    color: var(--color-secondary);
    font-size: var(--font-20);
  }
}

.navigation {
  margin-left: 0;
  @extend %flex-ai-c-jc-c;
  text-transform: capitalize;
  padding: var(--s-1);
  &.top-nav {
    justify-content: flex-end;
    margin: 0;
    @include break-point-down(phone-only) {
      justify-content: center;
    }
  }
  li {
    padding: var(--s-0_5) var(--s-1);
  }
}

.page-title {
  margin-top: var(--s-2_5);
  margin-bottom: var(--s-1);
  display: flex;
  align-items: center;
  @include break-point-down(tablet-landscape) {
    margin-top: var(--s-2_75);
    justify-content: center;
  }
}

blockquote,
.banner {
  background-color: var(--bg-secondary);
  font-weight: bold;
  border-left: 0.3rem solid var(--link-active);
  border-radius: 0.3rem;
  padding: var(--s-1_5) var(--s-1) !important;
  margin: var(--s-2) 0 !important;
  box-shadow: var(--shadow);
  p {
    margin-bottom: var(--s-0_5);
  }
  p:last-child {
    margin-bottom: 0;
  }
}

.card {
  background-color: var(--bg-secondary);
  border-radius: 0.5rem;
  overflow: hidden;
  box-shadow: var(--shadow);
}

.external-link-icon {
  margin: 0 var(--s-0_5);
  font-size: var(--font-12);
}

.about-page {
  .profile-image-container {
    @extend %flex-ai-c-jc-c;
    margin: var(--s-2) var(--s-1);
    .profile-image {
      border-radius: 50%;
      border: 0.1rem solid var(--color-secondary);
    }
  }
}

.projects-page {
  .projects-container {
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: repeat(auto-fit, 22rem);
    grid-gap: var(--s-2);
    margin-bottom: var(--s-5);
    @include break-point-down(tablet-landscape) {
      justify-content: center;
    }
  }
}

.contact-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  .page-title {
    flex-direction: column;
  }
  .profile-links {
    margin: var(--s-2) 0;
    a {
      margin: var(--s-0_75);
      font-size: var(--font-28);
      &:first-child {
        margin-left: 0;
      }
      &:last-child {
        margin-right: 0;
      }
    }
  }
}

.not-found-page {
  @extend %flex-ai-c-jc-c;
  flex-direction: column;
  .four-o-four {
    margin: var(--s-3) 0;
    @extend %flex-ai-c-jc-c;
    font-size: $not-found-illustration-size;
    .illustration {
      display: inherit;
      margin-left: var(--s-2);
      svg {
        width: $not-found-illustration-size;
        height: $not-found-illustration-size;
      }
    }
  }
}

@keyframes fade-in {
  from {
    opacity: 0.2;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slide-down {
  from {
    opacity: 0.2;
    transform: translateY(-400px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
