$tags:
  // Tech Tags
  "react" #61DBFB,
  "sass" #CC6699,
  "javascript" #F0DB4F,
  "ruby" #D3114F,
  "typescript" #007ACD,
  "npm" #CD3534,
  "node" #669D63,
  "chartjs" #FFCE56,
  "rails" #CD2003,
  // General Tags
  "ux" #0A97B0,
  "webdev" #1B6CA8,
  "beginners" #F1E7B6,
  "image-rendering" #F76A8C;

$tag-bg-alpha: 0.2;

.tags {
  display: flex;
  flex-wrap: wrap;
  margin-left: 0;
  margin-bottom: var(--s-1);
  .tag {
    padding: var(--s-0_25);
    margin: var(--s-0_25);
    font-size: var(--font-12);
    border: 0.1rem solid;
    border-radius: 0.2rem;
    font-weight: bold;
  }
  @each $name, $color in $tags {
    .tag_#{$name} {
      border-color: $color;
      background: rgba($color, $tag-bg-alpha);
    }
  }
}
